# 忽略操作系统文件
Thumbs.db
.DS_Store

# 忽略临时文件和缓存
*.tmp
*.log
*.swp
*.swo
*.bak
*.~*

# 忽略编译生成的文件
*.class
*.pyc
*.o
*.so
*.dll
*.exe
*.lib
*.obj
*.a
*.out

# 忽略虚拟环境
venv/
env/
__pycache__/
node_modules/
.build/
dist/
target/

# 忽略 IDE 或编辑器文件
.idea/
*.iml
*.ipynb_checkpoints
.vscode/
*.sublime-project
*.sublime-workspace

# 忽略测试输出文件
coverage.xml
nyc_output/
coverage/
test-results/

# 忽略日志文件
logs/
*.log

# 忽略配置文件中的敏感信息
*.env
*.key

# Python-specific
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.egg-info/
*.egg-dist-info/
*.spec
*~
*.suo
*.tox